$skyAppGreen1: #02754b;
$skyAppGreen2: #035a3a;
$skyAppGreen3: #07bd7a;

.common-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid $skyAppGreen1;
  color: $skyAppGreen1;
  border-radius: 30px;
  font-family: system-ui;
  font-size: 14px;
  font-weight: 400;
}

.common-btn:hover {
  border: 2px solid $skyAppGreen1;
  color: $skyAppGreen1;
  font-weight: 600;
}
