.whole-comment-container {
  position: inherit;
  // background-color: rgb(181, 180, 180);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.like-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 7px 10px;
  margin-bottom: -14px;

  .likes-comments {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 18px;
      color: #02754b;
    }
  }

  p {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-left: 5px;
    color: rgba(58, 58, 58, 0.835);
  }
  p:hover {
    color: #02754b;
  }

  .hr-line {
    margin-top: -18px;
    hr {
      border-top: 1px solid rgb(138, 135, 135);
    }
  }

  .like-comment {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .comment-input {
    height: 35px;
    background-color: whitesmoke;
    padding-left: 7px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #8e8e8e;
    font-family: system-ui, sans-serif;
    font-size: 16px;
  }

  .add-comment-btn {
    width: 150px;
    height: 35px;
    background-color: #02754b;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .likes-comment-inner {
    display: flex;
    align-items: center;
    margin-top: -20px;
    cursor: pointer;

    .green {
      color: #02754b;
    }

    p {
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 16px;
      margin-left: 5px;
      color: rgba(58, 58, 58, 0.835);
    }
  }
  .all-comments {
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;

    p:hover {
      color: rgba(58, 58, 58, 0.835);
    }
  }
}

.comment-input:focus {
  outline: 1px solid #3f3f3f;
  color: #3f3f3f;
}

.comments-username {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 10px;
}
.comment-container {
  margin-top: -5px;
  margin-left: 5px;
  margin-bottom: -10px;

  .comment {
    font-weight: 700;
    color: rgba(90, 90, 90, 0.835);
    font-size: 16px;
    margin-left: 0px;
  }
}

.user-name {
  color: rgba(7, 7, 7, 0.835);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.timeStamp {
  font-family: system-ui, sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-left: 5px;
  color: rgba(58, 58, 58, 0.835);
}
