.post-status-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-details {
    width: 550px;
    height: auto;
    background-color: whitesmoke;
    margin-top: 100px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: -60px;
      border: 1px solid #212121;
      padding: 1px;
    }

    .name {
      font-weight: 600;
      font-family: system-ui, sans-serif;
    }

    .headline {
      font-family: system-ui, sans-serif;
      margin-top: -15px;
    }
  }

  .post-status {
    border: 50px;
    width: 550px;
    height: 120px;
    background-color: whitesmoke;
    margin-top: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .open-post-modal {
      width: 80%;
      height: 50px;
      text-align: left;
      border-radius: 30px;
      color: rgba(84, 84, 84, 0.89);
      background-color: whitesmoke;
      outline: none;
      border: 1px solid #b7b7b7;
      cursor: pointer;
      padding: 15px;
      font-family: system-ui, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }
    .open-post-modal:hover {
      background-color: #dcdbdb;
    }
  }
}

//Chat

.chat-box-form {
  position: relative;
}
.chat-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.chat-tittle-inner {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-send-button {
  width: 90%;
  height: 40px;
  background-color: rgb(17, 41, 78);
  margin-top: 6px;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
}
.chat-send-button:hover {
  background-color: rgb(23, 66, 131);
}

.chat-close-btn {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 3px;
  border-radius: 50%;
}
.chat-close-btn:hover {
  background-color: rgb(220, 255, 202);
}
.chat-messages {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.chat-messages::-webkit-scrollbar {
  width: 10px;
}
.chat-messages::-webkit-scrollbar-track {
  border-radius: 10px;
}
.chat-messages::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}
.chat-messages::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.chat-right-side {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  border-radius: 0 20px 20px 20px;
  inline-size: 200px;
  overflow-wrap: break-word;
}

.chat-left-side {
  color: white;
  border-radius: 20px 0 20px 20px;
  inline-size: 200px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgb(18, 118, 88);
  margin-bottom: 10px;
  width: auto;
  margin-left: 60px;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  text-align: right;
  .chat-time {
    color: rgb(206, 206, 206);
  }
}

.chat-user-name {
  margin-top: 0px;
  font-weight: 700;
}
.chat-time {
  margin-top: -14px;
  color: rgb(101, 101, 101);
  font-size: 12px;
  width: 120px;
  font-weight: 400;
}

.chat-text {
  margin-top: -6px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-weight: 500;
}

.chat-input textarea {
  width: 90%;
  height: 30px;
  padding: 10px;
  border: none;
  resize: none;
  border-radius: 18px;
  overflow: auto;
  position: absolute;
  bottom: 8px;
  right: 4.8px;
  overflow-y: hidden;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.chat-input textarea::placeholder {
  display: flex;
  align-items: center;
  text-align: center;
}
