.profile-page {
  background-image: url("../assets/images/LogoImg1.jpg");
  background-color: transparent;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
